// State Transitions

// Router Transition
.trans-router-enter-to, .trans-router-leave
  opacity 1

.trans-router-enter-active, .trans-router-leave-active
  transition: opacity 300ms ease

.trans-router-enter, .trans-router-leave-to
  opacity: 0

// Transition Variables
  trans-background = background-color 300ms ease
