// Media breakpoints
break-sm = 576px
break-md = 768px
break-lg = 992px
break-xl = 1200px

// Media Query Up
sm-up     = "(min-width: " + break-sm + ")"
md-up     = "(min-width: " + break-md + ")"
lg-up   = "(min-width: " + break-lg + ")"
xl-up    = "(min-width: " + break-xl + ")"

// Media Query Down
sm-down   = "(max-width: " + break-sm + ")"
md-down   = "(max-width: " + break-md + ")"
lg-down = "(max-width: " + break-lg + ")"
xl-down  = "(max-width: " + break-xl + ")"